
:root {
    --main-color-blue: #31A4DD: ;
    --lighter-blue: #6FB6DA;
    --lightest-blue:#D5EFF7;
    --main-font:roboto Verdana, Geneva, Tahoma, sans-serif;
    --padding-elements: 20px;
  }



.home-button-icon{
    position: sticky;
    font-size: 100px;
    color: var(--main-color-blue);
    margin-left: 170px;
    
}
.home-button-icon:hover, 
.home-button-icon:focus {
    color: var(--lighter-blue);
}