


.slider {

    position: relative;
    top:50px;
    height: 100vh;
    display:flex;
    align-items:center; 
    justify-content: center;
}

.image {
    height: 600px;
    width: 1000px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top:50%;
    right: 170px;
    font-size: 50px;
    color: black;
}

.left-arrow {
    position: absolute;
    top:50%;
    left: 170px;
    font-size: 50px;
    color: black;
}