:root {
  --main-color-blue: #31A4DD: ;
  --lighter-blue: #6FB6DA;
  --lightest-blue:#D5EFF7;
  --main-font:roboto Verdana, Geneva, Tahoma, sans-serif;
}


.summary-box {
  margin: auto;
  width: 70%;
  padding: 10px;
  background-color: var(--lighter-blue);
  border-radius: 10px;
  margin-bottom: 20px;
  
}

.title {
  text-align: center;
  font-family: var(--main-font);
}

.lists {
  text-align: center;
  border: 3px solid var(--lightest-blue);
  font-family: var(--main-font);
}
