* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:root {
  --main-color-blue: #31A4DD: ;
  --lighter-blue: #6FB6DA;
  --lightest-blue:#D5EFF7;
  --main-font:roboto Verdana, Geneva, Tahoma, sans-serif;
}
.body
{
  background-color: rgb(236, 236, 206);
  min-height: 100vh;
  
}

h2 {
  text-align: center;
  font-family: var(--main-font);
  font-size: 2em;
  padding: 20px;
}

#logo {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

#select_week {
  
  font-weight: 100;
  font-size: small;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding: 3px;
  border: 1.5px solid black;
}

#select_area {
  display: block;
  text-align: center;
}

#choice {
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: small;
  display: inline-flex;
  
}

.select-button {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 1.5px solid black;
  
}

.button-group {
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#day_buttons {
  appearance: none;
  background-color: #31a4dd;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 10px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  margin: 1em;
  width: max-content;
}

#day_buttons:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

#day_buttons:hover {
  background-color: #197fb1;
}

#day_buttons:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

#day_buttons:disabled {
  background-color: #197fb1;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

#day_buttons:active {
  background-color: #197fb1;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}